body {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: azure;
}




h1 {
    margin: 50px auto 0 auto ;
    font-family: Anurati;
    font-size: 5.625rem;         /*1em = 16px */
    color:  #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
    font-weight: normal;
    font-size: 4rem;
}

h3 {
    font-family: Elixia;
    color: #11999E;
    font-size: 1.5rem;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    padding: 40px;

}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px;

}

.top-cloud {
    position : absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position : absolute;
    left: 300px;
    bottom: 300px;
}

a {
    color: #11999E;
    text-decoration: none;
}


a:hover {
    color:#7bc6cc;
}

.skill-row {
    width : 50% ;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2;
}

.code-img {
    width : 25% ;
    float : left;
}

.keyboard-img {
    width: 25%;
    float: left;
    margin-right: 40px;
}

.arduino-img {
    width : 25%;
    float: right;
    margin-left: 30px;
}

.copyright {
    color: #eaf6f6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 18px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #fffaff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: blanka;
  }
  
.btn:hover {
    background: #c193c5;
    background-image: -webkit-linear-gradient(top, #c193c5, #7bc6cc);
    background-image: -moz-linear-gradient(top, #c193c5, #7bc6cc);
    background-image: -ms-linear-gradient(top, #c193c5, #7bc6cc);
    background-image: -o-linear-gradient(top, #c193c5, #7bc6cc);
    background-image: linear-gradient(to bottom, #c193c5, #7bc6cc);
    text-decoration: none;
  }




  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type = 'email'] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }

  input[type = 'date'] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
/*Adding custom font*/
@font-face {
    font-family : 'Anurati' ; 
    src : url('Anurati-Regular.otf')
}

@font-face {
	font-family : 'blanka';
	src : url('Blanka-Regular.ttf')
}
